Flask
nibabel
numpy
Pillow
matplotlib
torch
torchvision
scikit-image
scipy>=1.6.0
tqdm>=4.60.0
pandas
tensorboardX>=1.14
opencv-python
clean-fid
dropblock
torchviz
pydot_ng
einops
torch>=1.6
torchvision
numpy
pandas
tqdm
tensorboardX>=1.14
scipy 
opencv-python
clean-fid
dropblock
torchviz
pydot_ng
einops
PyMuPDF